# Hidden files
.*

*.pyc
*.*~
*.swp
*.swo
*.sqlite*
*.save
settings_local.py
secrets.py
local_settings.py
local_manage.py
Thumbs.db
django-test-coverage
testrecorder
bin/buildout
pip-log.txt
eggs
bin
parts
whoosh_index/*
static/
media/
token
*.ipynb
celerybeat-schedule.db
celerybeat.pid
db_dumps/*
/start.sh
/stop.sh
latest_db.sql.gz

# Virtualenv
include/python2.7
lib/python2.7
build
share
